<!DOCTYPE html>
<html>
  <head>
    <title>Gslab SP</title>
    <link rel='stylesheet' href='https://unpkg.com/carbon-components/css/carbon-components.min.css' />
    <link rel='stylesheet' href='/public/style.css' />
  </head>
  <body class="bx--grid wrapper">
    <h1 class="header">
      <image src="https://cdn.glitch.com/c911d1a2-505b-4fa1-834c-22e09c0aaaa2%2Fgslab-logo.jpg?v=1610827577689" />
      {{#if metaData}}
        <button class="bx--btn bx--btn--tertiary" onclick="location.href='/saml/login'">Login with ISV</button>
      {{/if}}
      {{#if user}}
        <button class="bx--btn bx--btn--danger" onclick="location.href='/saml/logout'">Logout</button>
      {{/if}}
    </h1>
    <div class="content bx--tile--is-selected">
      {{{body}}}
    </div>
  </body>
</html>
