/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

.seperator {
  margin-bottom: .5rem;
}

.wrapper {
  max-width: 50rem;
}
.content {
  margin: 0 auto;
  overflow: scroll;
  padding: 1rem;
  background: #0a4868;
}
.content label, .content h1, .content h4 {
  color: #fff;
}
.header {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0;
  position: relative;
}
.header .bx--btn {
  position: absolute;
  right: 0;
  top: 2rem;
}
.bx--form-item {
  margin-bottom: 2rem;
}
h1, h4 {
  margin-bottom: 1rem;
}
textarea.bx--text-input {
  height: auto;
  padding: 1rem;
}
.btn-group {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}